:root {
  --brand-clr: #2196f3;
  --logo-accent-clr: #000000;
  --main-font-clr: #212121;
  --secondary-font-clr: #757575;
  --primary-address-font-clr: #ffffff;
  --secondary-address-font-clr: #ffffff99;
  --button-font-clr: var(--primary-address-font-clr);
  --header-footer-bg-clr: #2f303a;
  --header-banner-font-clr: #ffffff;
  --primary-bg-clr: #e5e5e5;
  --section-bg-clr: #ffffff;
  --secondary-section-bg-clr: #f5f4fa;
  --nav-bar-bg-clr: var(--primary-address-font-clr);
  --portfolio-bg-clr: var(--primary-address-font-clr);
  --porftolio-btn-inactive: #f5f4fa;
  --portfolio-fig-border: #eeeeee;
  --potfolio-overlay-clr: var(--primary-address-font-clr);
  --portfolio-overlay-bg: #2196F3E5;
  --icon-primary-clr: #AFB1B8;
  --icon-secondary-clr: var(--primary-address-font-clr);
  --footer-socials-bg: #FFFFFF1A;
  --aoe-label-bg: #2F303ACC;

}

/* //////////////
      
      NAVIGATION
      1. global styling
        1.1. deleting base formatting
        1.2. hover decoration
        1.3. icon styling
      
      2. modal
                
      3. logo styling

      4. navigation bar

      5. the big banner and footer/address

      6. button styling

      7. sections
        7.1.our advantages
        7.2.area of expertise
        7.3.section headings
        7.4.our staff
        7.5.our clients

      8. socials links
        8.1. newsletter styling

      9. portfolio page

      10. "kontakt" page

//////////////////*/

::selection {
  background-color: var(--brand-clr);
  color: var(--primary-address-font-clr);
}

*:focus {
  outline: none;

  transform: scale(1.02);
  transition: transform 250ms;

  /* box-shadow: 0 0 5px var(--brand-clr);
  border-radius: 4px; */


  /* filter: drop-shadow(0 0 0.25em var(--brand-clr)); */
}

body {
  color: var(--main-font-clr);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 80px 0 0 0;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;
}

.section {
  background-color: var(--section-bg-clr);
  padding: 94px 0;
}

.section-portfolio {
  padding: 94px;

}

.section:first-of-type {
  padding-bottom: 0;
}

/*deleting base formatting, margins, paddings in links and lists elements*/

.link {
  color: inherit;
  font-style: inherit;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list figure {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  margin-block: 0 0;
}


/* global hover effects */

[type="button"]:hover,
[type="submit"]:hover,
.portfolio-projects:hover,
.socials-icon:hover,
.clients-icon:hover {
  cursor: pointer;
}

.join-us .socials-icon:hover {
  cursor: url(../images/custom-pointer.svg ), auto;
}

/* icons styling */

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;

}

.contact .icon {
  /* vertical-align: middle; */
  margin-right: 10px;

  fill: currentColor;
}

/* logo styling */
.logo {
  display: inline-block;
  user-select: none;
}

.nav-bar .logo,
.logo {
  color: var(--brand-clr);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  margin: 0;
}

.logo .logo-accent {
  color: var(--logo-accent-clr);
}

.logo-footer {
  color: var(--primary-address-font-clr);
}

.footer .logo {
  margin-bottom: 20px;
}

/* modal */

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  transition: visibility, opacity, 2000ms ease-in;
  transition-delay: 250ms;
}

.is-hidden .modal {
  opacity: 0;
}

.is-hidden .modal-window {
  transform: scaleY(0);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(#00000033, #00000033);

  /* visibility: visible; */
  transition: visibility, opacity, 500ms;

  opacity: 1;
}

.modal-window {
  position: relative;

  background-color: var(--section-bg-clr);
  z-index: 3;

  /* min-width: 528px;
  min-height: 581px; */

  border: none;
  border-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms ease-out;
  transition-delay: 100ms;
  transform: scaleY(1);
  opacity: 1;

  padding: 40px;
}

.button-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 8px;
  right: 8px;

  text-align: center;
  background-color: inherit;

  border: 1px solid #0000001A;
  border-radius: 50%;

  padding: 5px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  fill: var(--brand-clr);
  transform: rotate(-360deg);
}

.modal__header {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-flow: column;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
}

.modal__input,
.modal__textarea,
.modal__label {
  color: var(--secondary-font-clr);
  font-size: 12px;
  letter-spacing: 0.01em;
}

.modal__input,
.modal__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;

  resize: none;
  overflow-y: auto;
}

.modal__input {
  padding: 12px 42px;
  width: 100%;
}

.modal__icon-positioner {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;

  fill: currentColor;


  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__input:focus,
.modal__textarea:focus {
  fill: var(--brand-clr);
  stroke: none;
  border-color: var(--brand-clr);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus+.modal__icon {
  color: var(--brand-clr);
  fill: var(--brand-clr);

  animation-name: formAnimation;
  animation-duration: 250ms;
}

.modal__textarea:focus::placeholder {
  animation-name: formAnimation;
  animation-duration: 250ms;
}

@keyframes formAnimation {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(-50%);
  }
}

.modal__checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 0.5rem;
}

.modal__checkbox::before {
  content: '';
  width: 16px;
  height: 15px;

  display: block;
  border: 1.75px solid var(--main-font-clr);
  border-radius: 2px;

  transition: opacity, transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.custom-check {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%) scale(1.5);
  height: 100%;

  opacity: 0;
  transition: opacity, transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked::before {
  opacity: 0;
  transform: scale(1.5);
}

.modal__checkbox:checked+.modal__checkbox-label .custom-check {
  opacity: 1;
  transform: translate(0, -50%) scale(1);
}


.modal__checkbox-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  margin-inline: 14px;
}

.modal__checkbox-label {
  color: var(--secondary-font-clr);
  font-size: 14px;
  line-height: 1.71;
}

.modal__checkbox-label a {
  color: var(--brand-clr);
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--button-font-clr);
  background-color: var(--brand-clr);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;

  padding: 10px 76px;

  cursor: pointer;
}

/* navigation bar */

.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  background-color: var(--nav-bar-bg-clr);
  border: 1px solid #ececec;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;

  padding: 25px;
}

.nav-bar .container {
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 93px;
  user-select: none;
}

.navigation .link {
  position: relative;
  padding-bottom: 33px;

  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);
}

.navigation .link::after {
  position: absolute;

  bottom: 0;
  left: 0;
  overflow: hidden;

  width: 100%;

  content: "";
  border: 2px solid var(--brand-clr);
  border-radius: 2px;
  background-color: var(--brand-clr);
  opacity: 0;

  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-35px);
}

.navigation .list {
  display: flex;
  gap: 46px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  color: var(--secondary-font-clr);
  margin-left: auto;
  padding-left: 15px;
}

.contact {
  display: block;
}

.contact .link {
  display: flex;
  align-items: center;
}


/*navigation hover decoration*/

.link:hover,
.link:focus,
.link[href="#"] {
  color: var(--brand-clr);
  fill: currentColor;
}


.link[href="#"]::after,
.navigation .link:hover::after,
.navigation .link:focus::after {
  position: absolute;
  display: block;
  overflow: hidden;
  bottom: 0;
  left: 0;
  /* margin: 0;
  padding: 0; */
  width: 100%;

  content: "";
  border: 2px solid var(--brand-clr);
  border-radius: 2px;
  background-color: var(--brand-clr);

  transform: translateY(0);
  opacity: 1;
}


/* the big banner and address */

.header-banner,
.footer {
  background-color: var(--header-footer-bg-clr);
  color: var(--header-banner-font-clr);
}

.header-banner {
  background-image: linear-gradient(#2F303A66, #2F303A66), url(../images/bg-banner.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 1600px;
  padding: 200px 0;
  /* margin-top: 80px; */
  margin-inline: auto;
}

.footer address,
.footer .links {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer {
  padding: 60px;
}

.footer-flex {
  display: flex;

}

.footer .contact {
  display: inline-block;
  color: var(--secondary-font-clr);
  margin-top: 9px;
}


.header-banner h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
  text-transform: uppercase;

  letter-spacing: 0.06em;
}

/* buttons */

[type="button"],
[type="submit"] {
  letter-spacing: 0.06em;
}

.button {
  background-color: var(--brand-clr);
  border: none;
  border-radius: 4px;

  color: var(--button-font-clr);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  padding: 10px 41px;
}

.filter button {
  background-color: var(--porftolio-btn-inactive);
  border: none;
  border-radius: 4px;
  color: var(--main-font-clr);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;

  padding: 6px 22px;
  margin: 0.25rem;
  line-height: 1.62;

  transition: background, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:active,
[type="submit"]:active,
.button-close:active {
  box-shadow: inset 1px 1px 10px #333333;
}

/* our advantages, join us font */

.advantages h3,
.join-us h3,
.aoe-label,
.newsletter__label-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;
}

.advantages h3 {
  margin-bottom: 9px;
}

.join-us h3 {
  margin-bottom: 20px;
}

.advantages .text {
  box-sizing: content-box;
}

.advantages .text {
  color: var(--secondary-font-clr);
  font-size: 14px;
  line-height: 1.71;
}

.advantages-icon {
  background-color: var(--secondary-section-bg-clr);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  padding: 25px 100px;
}

/* area of expertise */

.advantages>.list,
.aoe>.list,
.staff-container>.list {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  justify-content: center;
}

.aoe>.list {
  flex-wrap: wrap;
}

.aoe-img {
  position: relative;
  /* overflow: hidden; */
}

.aoe-img img {
  display: block;
}

.aoe-label {
  position: absolute;
  bottom: 0;
  width: 100%;


  text-align: center;
  padding: 27px 0;

  background-color: var(--aoe-label-bg);
  color: var(--header-banner-font-clr);
}


/* headings */

.aoe h2,
.staff h2,
.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* our staff */

.staff {
  background-color: var(--secondary-section-bg-clr);
}

.staff-box {
  background-color: var(--section-bg-clr);
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-box h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

.staff-box .text {
  color: var(--secondary-font-clr);
  margin-bottom: 16px;
}

.staff-box figcaption {
  padding: 30px;
}

/* our clients */

.clients-container {
  display: flex;
  justify-content: center;
}

.clients-icon {
  fill: var(--icon-primary-clr);
  stroke: var(--icon-primary-clr);

  border: 1px solid var(--icon-primary-clr);
  border-radius: 4px;
  margin-inline: 15px;

  padding: 16px 32px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover,
.clients-icon:focus {
  border-color: var(--brand-clr);
  fill: var(--brand-clr);
}

/* socials links */

.socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 44px;
}

.socials-icon {
  display: flex;
  align-items: center;

  border-radius: 50%;

  fill: var(--icon-primary-clr);

  margin-top: 16px;

  transition: fill, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon>.icon {
  padding: 12px;
}

.join-us {
  margin-top: 12px;
  margin-left: 70px;
}

.join-us .socials {
  gap: 10px;
}

.join-us .socials-icon {
  background-color: var(--footer-socials-bg);
  gap: 10px;

  fill: var(--icon-secondary-clr);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon:hover,
.join-us .socials-icon:hover,
.socials-icon:focus,
.join-us .socials-icon:focus {
  background-color: var(--brand-clr);
  fill: var(--icon-secondary-clr);
}

/* newsletter styling */

.newsletter {
  margin: 12px 0 0 78px;
  width: 100%;
}

.newsletter__label-header {
  display: block;
  margin-bottom: 20px;
}

.newsletter__flex {
  display: flex;

  width: 100%;
}

.newsletter__input {
  background-color: var(--header-footer-bg-clr);
  color: var(--secondary-address-font-clr);
  flex-grow: 2;

  margin-right: 10px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.newsletter__input:autofill,
.newsletter__input:-webkit-autofill,
.newsletter__input:-internal-autofill-selected {
  background-color: inherit !important;
  color: inherit !important;
}

/* .newsletter {
  display: flex;
  align-items: flex-end;
} */

.newsletter__button {
  display: flex;
  /* justify-content: center; */
  align-items: center;

  color: var(--primary-address-font-clr);

  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 4px;

  padding: 10px 24px 10px 42px;
}

.newsletter__icon {
  margin-left: 24px;
}


/* portfolio */

.portfolio {
  background-color: var(--header-banner-font-clr);
}

.portfolio-projects figcaption {
  border-bottom: 1px solid var(--portfolio-fig-border);
  border-left: 1px solid var(--portfolio-fig-border);
  border-right: 1px solid var(--portfolio-fig-border);
  padding: 20px 24px;
}


.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio .cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 30px;
}

.portfolio-projects {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-projects .text {
  color: var(--secondary-font-clr);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-overlay img {
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 49px 45px 49px 24px;

  color: var(--potfolio-overlay-clr);
  background-color: var(--portfolio-overlay-bg);

  font-size: 18px;
  line-height: 1.55;
  text-align: left;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio hover effects */

.filter button:active,
.filter button:focus,
.filter button:hover {
  background-color: var(--brand-clr);
  color: var(--button-font-clr);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-projects:hover,
.portfolio-projects:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-projects:hover .overlay,
.portfolio-projects:focus .overlay {
  transform: translateY(0);
}


/* kontakt */

.contact-page {
  margin-top: 100px;
  margin-bottom: 50px;
}