[type="button"],
[type="submit"] {
  letter-spacing: 0.06em;
}

.hero__button {
  background-color: var(--brand-clr);
  border: none;
  border-radius: 4px;

  color: var(--button-font-clr);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  padding: 10px 41px;
}

.hero__button:hover {
  filter: drop-shadow(0px 0px 2px var(--brand-clr));
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
}

[type="button"]:active,
[type="submit"]:active,
.modal__btn-close:active {
  box-shadow: inset 1px 1px 10px #333333;
}