/* navigation bar */

.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  background-color: var(--nav-bar-bg-clr);
  border: 1px solid #ececec;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;

  padding: 25px;
}

.nav-bar .container {
  display: flex;
  align-items: center;
}

.nav-bar__navigation {
  margin-left: 93px;
  user-select: none;
}

.nav-bar__item {
  position: relative;
  padding-bottom: 33px;

  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);
}

.nav-bar__item::after {
  position: absolute;

  bottom: 0;
  left: 0;
  overflow: hidden;

  width: 100%;

  content: "";
  border: 2px solid var(--brand-clr);
  border-radius: 2px;
  background-color: var(--brand-clr);
  opacity: 0;

  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-35px);
}

.nav-bar__pages {
  display: flex;
  gap: 46px;
}

.nav-bar__contact-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  color: var(--secondary-font-clr);
  margin-left: auto;
  /* padding-left: 15px; */
}

.nav-bar__contact {
  display: block;
}

.nav-bar__contact .link {
  display: flex;
  align-items: center;
}

.nav-bar__icon {
  margin-right: 10px;

  fill: currentColor;
}

/*navigation hover decoration*/

.link:hover,
.link:focus,
.link[href="#"] {
  color: var(--brand-clr);
  fill: currentColor;
}

.link[href="#"]::after,
.nav-bar__item:hover::after,
.nav-bar__item:focus::after {
  position: absolute;
  display: block;
  overflow: hidden;
  bottom: 0;
  left: 0;

  width: 100%;

  content: "";
  border: 2px solid var(--brand-clr);
  border-radius: 2px;
  background-color: var(--brand-clr);

  transform: translateY(0);
  opacity: 1;
}
