.staff {
  background-color: $bgClr300;
  &__heading {
    @include sectionHeading();
  }

  &__list {
    display: flex;

    gap: 30px;
    justify-content: center;
  }

  &__figure {
    background-color: $bgClr200;
    font-size: $fsPrimary;
    line-height: 1.1875;
    text-align: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__position {
    color: $fontClr200;
    margin-bottom: 16px;
  }

  &__caption {
    padding: 30px;
  }
}
