.advantages__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;

  text-transform: uppercase;

  margin-bottom: 9px;
}

.advantages__heading {
  margin-bottom: 9px;
}

.advantages__text {
  color: var(--secondary-font-clr);
  font-size: 14px;
  line-height: 1.71;
}

.advantages__icon {
  background-color: var(--secondary-section-bg-clr);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  padding: 25px 100px;
}

.advantages__list {
  display: flex;

  gap: 30px;
  justify-content: center;
}
