  $brandColor: #2196f3;

  $fontClr100: #212121;
  $fontClr200: #757575;
  $fontClr300: #ffffff;
  $fontClr400: #ffffff99;
  $fontClr500: #000000;

  $bgClr100: #e5e5e5;
  $bgClr200: #ffffff;
  $bgClr300: #f5f4fa;
  $bgClr400: #2f303a;
  $bgClr500: #ffffff1a;

  $accentClr100: #2f303acc;
  $accentClr200: #eeeeee;
  $accentClr300: #2196f3e5;

  $iconClr100: #afb1b8;
  $iconClr200: #ffffff;

  $ffPrimary: "Roboto", sans-serif;
  $ffLogo: "Raleway", sans-serif;

  $fsPrimary: 1rem;
  $fsButton: 1rem;

  $fsLogo: 1.625rem;

  $fsPageHeading: 2.75rem;
  $fsSectionHeading: 2.25rem;

  $fsModalHeading: 1.25rem;

  $fsModalItems: 0.75rem; 

  $fsModalCheckbox-label: 0.875rem;
  $fsItemHeading: 0.875rem;
  $fsItemText: 0.875rem;
  $fsNavBar: 0.875rem;
  $fsFooterAddress: 0.875rem;

  $fsPortfolioProjects: 1.125rem;
  $fsPortfolioOverlay: 1.125rem;

  $fwRegular: 400;
  $fwSemiBold: 500;
  $fwBold: 700;
  $fwSuperBold: 900;
